.main{
    background:silver;
    width:99%;
    justify-content: space-around;
    display:flex;
    flex-wrap:wrap;
}
 #side1,#side2{
    width:25%;
    text-align:center;
    background:orange;
    color:white;
    margin:5%;
    border-radius:50%;
}
img{
    border-radius:50% 50% 50% 50%;
}